{% extends 'base.html' %}
{% load static %}

{% block title %}
    Song Detail
{% endblock %}

{% block css_styling %}

{% endblock %}

{% block content %}
    <h1>Song: {{track.name}}</h1>
    <h4>Duration: {{track.duration}}</h4>
    <h2>Artist: {{track.artist}}</h2>
    <h3>{{track.song}}</h3>
    <audio controls>
        <source src="{{track.song.url}}" type="audio/ogg">
        <source src="{{track.song.url}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

{% endblock %}